* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1F2937;
    padding: 25px;
    text-align: center;
    border-bottom: 5px solid #14B8A6;
}

.head-blue { color: #2563EB; }
.head-teal { color: #14B8A6; }

.main-card {
    background: #1F2937;
    width: 95%;
    max-width: 500px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.7);
}

.title-area { text-align: center; margin-bottom: 20px; }
.title-area i { font-size: 40px; color: #2563EB; margin-bottom: 10px; }

.input-box { margin-bottom: 15px; }
label { display: block; color: #14B8A6; margin-bottom: 8px; font-size: 14px; font-weight: bold; }

input {
    width: 100%;
    padding: 12px;
    background: #111827;
    border: 2px solid #1F2937;
    border-radius: 6px;
    color: white;
    font-size: 16px;
}

.cnic-hint { font-size: 11px; margin-top: 5px; color: #9ca3af; }
.invalid-hint { color: #ef4444; }
.valid-hint { color: #14B8A6; }

button {
    width: 100%;
    padding: 14px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.blue-btn { background-color: #2563EB; color: white; margin-top: 10px; }
.teal-btn { background-color: #14B8A6; color: #111827; margin-top: 10px; }
.red-btn { background-color: #dc2626; color: white; margin-top: 20px; font-size: 11px; padding: 8px;}

.candidate-item {
    background: #111827;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #1F2937;
}

.leader-badge {
    background: #14B8A6;
    color: #111827;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 10px;
    font-weight: bold;
}

.leaderboard-box {
    margin-top: 20px;
    padding: 15px;
    background: #111827;
    border-radius: 8px;
    border-left: 4px solid #2563EB;
}

footer {
    margin-top: auto;
    background: #111827;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #1F2937;
}

#setup-screen, #vote-screen, #result-screen, #verify-screen { display: none; }